<ion-header>
    <ion-toolbar>
        <ion-title>
            Profile Page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-img src="http://www.fau.edu/publicaffairs/branding/images/university-logo-present.jpg"></ion-img>
    <ion-card-header>
        <ion-card-title padding>Account Information</ion-card-title>
    </ion-card-header>

    <ion-item>
        <ion-textarea position="stacked" placeholder="Student Name"></ion-textarea>
        <ion-label color="dark">First and Last</ion-label>
    </ion-item>

    <ion-item>
        <ion-textarea position="stacked" placeholder="E-mail Address"></ion-textarea>
        <ion-label color="dark">studentname@fau.edu</ion-label>

    </ion-item>

    <ion-item>
        <ion-textarea position="stacked" placeholder="Z-Number"></ion-textarea>
        <ion-label color="dark">13784623</ion-label>

    </ion-item>

    <ion-item>
        <ion-textarea position="stacked" placeholder="Phone Number"></ion-textarea>
        <ion-label color="dark">954-555-5555</ion-label>

    </ion-item>

    <ion-item>
        <ion-textarea position="stacked" placeholder="Favorite Restaurant:"></ion-textarea>
        <ion-select value="select" ok-text="Okay" cancel-text="Dismiss">
            <ion-select-option value="select">Select</ion-select-option>
            <ion-select-option value="Wendys">Wendy's</ion-select-option>
            <ion-select-option value="PapaJohns">Papa John's</ion-select-option>
            <ion-select-option value="ChickNGrill">Chick -N- Grill</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-textarea position="stacked" placeholder="Remaining Owl Bucks balance: "></ion-textarea>
        <ion-label color="dark">$$</ion-label>

    </ion-item>

</ion-content>